each article in week.articles
    article(class=article.favorite == 0 ? "" : "favourite")
        div.row
        h4=article.resolved_title
            i 
                p #{article.word_count} words
            if article.favorite === 1 && article.has_image && article.images
                img(src=article.images['1'].src, alt='')
            if article.favorite === 1
                blockquote
                    =article.excerpt
                    a(href=article.resolved_url) ...read